[submodule "zsh"]
	path = zsh
	url = git@github.com:plateena/zsh.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:plateena/tmux
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:plateena/alacritty
[submodule "bin"]
	path = bin
	url = git@github.com:plateena/bin
[submodule "fish"]
	path = fish
	url = git@github.com:plateena/fish.git
[submodule "nb/home"]
	path = nb/home
	url = git@github.com:plateena/nb-home
[submodule "nb/personal"]
	path = nb/personal
	url = git@github.com:plateena/nb-personal
[submodule "nb/work"]
	path = nb/work
	url = git@github.com:plateena/nb-work
[submodule "nvim"]
	path = nvim
	url = git@github.com:plateena/nvim
